<!doctype html>
<html>
    <head>
      <meta charset='utf-8'>
      <title><%= @page[:title].gsub(/<[^>]*>/ui,'') %></title>
      <%= css "jqueryui/jquery-ui-1.9.1.custom",
              "/bootstrap/css/bootstrap.min",
              "/bootstrap/plugins/datepicker/css/datepicker"
      %>
      <%= less "style" %>
      <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,900,300,300italic' rel='stylesheet' type='text/css'>
      <script src="<%= request.base_url %>/js/less-1.3.0.min.js"></script>
    </head>
    <body>
        <div id="header">
          <div class="wrapper">
            <h1>reby – lightweight rest framework</h1>
          </div>
        </div>
        <div id="wrapper" class="wrapper">
          <div id="wrapperTop"></div>
            <h2 id="headline"><%= @page[:title] %></h2>
            <div id="messages">
                <noscript>
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Javascript disabled!</h4>
                    This app needs Javascript. Please enable it.
                  </div>
                </noscript>
            </div>
            <%= yield %>
          <div id="wrapperBottom"></div>
        </div>
        <div id="footer">
          <div class="wrapper">
            <span class="name">&COPY; reby</span>
            <span class="license">Apache License, Version 2</span>
          </div>
        </div>
      <%= js "layout" %>
    </body>
</html>